<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Data Science tools(open source)

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Java
5. Scala
6. C++
7. JavaScript
8. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. IBM Db2 Database
6. MySQL
7. SciKit-Learn
8. PyTorch
9. dplyr

## Data Science tools(open source)
 | Data ManageMent   | Data integration and transformation | Data visualization | Model Deplpyment | Model Monitoring and assessment | Code asset | Data asset | Operating System tool |
 | ------------------|-------------------------------------|--------------------|------------------|-----------------                |------------|------------|-----------------------|
 |MySQL              | Apache Airflow                      | Pixie Dust         | PredictionIO     | AI Explainability               | Github     | Egeria     | vscode                |
 |PostgrelSQL        | Apache Kafka                        | Hue                | mLeap            | Adversarial Robustness 360      | Gitlab     | Kylo       | pycharm               |
 |MongoDB            | kubeflow                            | Kibana             | Seldon           | Prometheus                      | Bitbucket  | Atlas      | Rstudio               |
 |Apache CouchDB     | Apache Nifi                         | Apache Superset    | OpenShift        | ModelDB                         | Git        |            | Jupyter               |
 |Apache CassandraDB | Apache SparkSQL                     |                    |TensorFlow Serving| AI fairness 360                 |            |            | spyder                |
 |Hadoop             | Node Red                            |                    |TensorFlow.js     |                                 |            |            | Anaconda Navigator    |
 |ceph               |                                     |                    |                  |                                 |            |            |                       | 
 |Elasticsearch      |                                     |                    |                  |                                 |            |            |                       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
n = (3*4)+5
print(n)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
blackang